

/* form */

.a-orderBtn {
    background-color: var(--secondary-color) !important;
    border: none !important;
}

.m-confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-order-confirmation {
    text-align: center;
}